body {
    background-color: grey;
}

.container{
    background-color: grey;
    height: 100px;
}

.container .header {
    background-color: grey;
    height: 100px;
    margin-top: 20px;
}

.container .header h1{
    text-align: center;
}

.container .gamespace{
    
    width: 450px;
    height: 450px;
    margin: 20px auto;
}

/*1st row*/

.container .gamespace #justone{
    
    width: 100%;
    height: 150px;
    display: table;
    margin-top: 5px;
}

.container .gamespace #justone #onefour{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-bottom: black solid;
    border-right: black solid;
}

.container .gamespace #justone #onefive{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-bottom: black solid;
    border-right: black solid;
}

.container .gamespace #justone #onesix{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-bottom: black solid;

}

/*2nd row*/

.container .gamespace #justtwo{
    
    width: 100%;
    height: 150px;
    display: table;
}

.container .gamespace #justtwo #twofour{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-bottom: black solid;
    border-right: black solid;
}

.container .gamespace #justtwo #twofive{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-bottom: black solid;
    border-right: black solid;
}

.container .gamespace #justtwo #twosix{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-bottom: black solid;
}

/*3rd row*/

.container .gamespace #justthree{
    
    width: 100%;
    height: 150px;
    display: table;
    
}

.container .gamespace #justthree #threefour{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-right: black solid;
}

.container .gamespace #justthree #threefive{
    
    width: 150px;
    height: 100%;
    display: table-cell;
    border-right: black solid;
}

.container .gamespace #justthree #threesix{
    
    width: 150px;
    height: 100%;
    display: table-cell;
}

